// Fonts

@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

@import url('https://fonts.googleapis.com/css?family=Almendra:400,700');

@font-face {
  font-family: 'liberation_serifbold_italic';
  src: url('LiberationSerif-BoldItalic-webfont.eot');
  src: url('LiberationSerif-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('LiberationSerif-BoldItalic-webfont.woff2') format('woff2'),
       url('LiberationSerif-BoldItalic-webfont.woff') format('woff'),
       url('LiberationSerif-BoldItalic-webfont.ttf') format('truetype'),
       url('LiberationSerif-BoldItalic-webfont.svg#liberation_serifbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

// Variables

$tablet   : 992px;
$mobile-L : 767px;
$mobile-S : 423px;

//helpers

.stick-in-bottom {
  display: flex;
  align-items: flex-end;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}




// Globals
.container {
  max-width: 1600px;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000;
}
a , a:hover, a:focus {
  text-decoration: none;
  color: #000;
}
p {
  margin: 0;
}

/**************
* Block Header
**************/
.block-header {
  position: relative;
  min-height: 800px;
  height: 100%;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $tablet) {
    min-height: 595px;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0,0,0,0.9) 100%);
    z-index: -9;
  }
  &__menu {
    &--logo {
      @media screen and (max-width: $mobile-L) {
        text-align: center
      }
    }
    &--nav {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: right;
      @media screen and (max-width: $mobile-L) {
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          display: inline-block;
          margin: 5px 15px;
          a, i { color: #fff; }
          a { font-weight: 700; text-transform: uppercase; }
          #sub-menu {
            display: none;
            position: absolute;
            background: #fff;
            right: 14px;
            li {
              display: block;
              text-align: right;
              padding: 3px 30px;
              margin: 2px auto;
              &:hover {
                color: #fff;
                background-color: #f57365;
              }
            }
          }
        }
        #burger-menu {
          cursor: pointer;
        }
      }
    }
  }
  &__slogan {
    position: relative;
    text-align:  center;
    color: #fff;
    margin: 8% 0px;
    z-index: -1;
    .fav {
        font-family: 'Almendra', serif;
        font-size: 36px;
        font-style:  italic;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.7);
        text-shadow: 0 0 30px rgba(0, 0, 0, .55);
        margin: 0;
        @media screen and (max-width: $mobile-L) {
          font-size: 24px;
          }
    }
    .title {
      font-family: 'lato';
      font-weight: 600;
      font-size: 100px;
      @media screen and (max-width: $mobile-L) {
      font-size: 60px;
      }
    }
    .button {
      border: 2px solid #fff;
      font-weight: 700;
      padding: 20px 90px;
      color: #fff;
      font-size: 20px;
      display: inline-block;
      text-transform: uppercase;
      transition: all .2s ease-in-out;
      @media screen and (max-width: $mobile-L) {
        padding: 10px 40px;
        font-size: 22px;
      }
      &:hover {
        background-color: #fff;
        color: #8c8c8c;
      }
    }
    .desc {
      margin: 20px 0;
      text-transform: uppercase;
      color: #fff;
      font-size: 16px;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }
}

/***************
* Block Features
***************/
.block-features {
  padding: 95px 0;
  @media screen and (max-width: $tablet) {
    padding: 20px 0;
  }
  &__card {
    @media screen and (max-width: $tablet) {
      margin-top: 20px;
    }
    &--icon {
      width: 100px;
      height: 100px;
      display: block;
      border: 1px solid #221f1f;
      border-radius: 50%;
      background-position: 50%;
      background-repeat: no-repeat;
      margin: 0 auto;
      transition: all .2s ease-in-out;
      &.burger {
        background-image: url(../img/burger.png);
      }
      &.cash {
        background-image: url(../img/cash.png);
      }
      &.chef {
        background-image: url(../img/chef.png);
      }
      &:hover {
        animation: pulse .4s ease-in-out;
        border-color: #f57365;
      }
    }
    &--title {
      position: relative;
      text-align: center;
      font-size: 18px;
      text-transform: uppercase;
      margin-top: 20px;
      padding-bottom: 10px;
      &::after {
        content: '';
        position: absolute;
        width: 88px;
        height: 1px;
        background-color: #f57365;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &--desc {
      text-align: center;
      font-weight: 100;
      margin-top: 20px;
    }
  }
}

/********************
* Block Introduction
********************/
.block-intro {
  background-color: #f7f7f7;
  padding-top: 100px;
  @media screen and (max-width: $tablet) {
    padding-top: 60px;
  }
  @media screen and (max-width: $mobile-L) {
    padding-top: 20px;
  }
  &__img {
    max-width: 495px;
    width: 100%;
    text-align: center;
    img {
      width: 100%;
      @media screen and (max-width: $mobile-L) {
        width: 60%;
      }
    }
  }
  &__article {
    margin-top: 100px;
    @media screen and (max-width: $tablet) {
      margin-top: 30px;
      text-align: center;
    }
    .mCustomScrollbar {
      @media screen and (max-width: $tablet) {
        height: 260px;
        .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
          background-color: rgb(245, 115, 101);
        }
      }
    }
    &--title {
      position: relative;
      font-size:  18px;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 20px;
      &::after {
        content: '';
        position: absolute;
        width: 88px;
        height: 1px;
        background-color: #f57365;
        bottom: 0;
        left: 0;
        @media screen and (max-width: $tablet) {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    &--text {
      font-weight: 100;
    }
    &--stores {
      margin: 30px 0;
      @media screen and (max-width: $tablet) {
        margin: 25px 0;
      }
    }
  }
}

/********************
* Block Testimony
********************/
.block-testimonial {
  padding: 80px 0;
  text-align: center;
  background: url(../img/bg-slider.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  @media screen and (max-width: $tablet) {
    padding: 20px 0;
  }
  &__thumb {
    &--img {
      border: 5px solid #958d95;
      border-radius: 50%;
      margin-bottom: 25px;
      max-width: 104px;
      margin: 0 auto;
    }
    &--comment,
    &--writer {
      font-weight: 100;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.50);
    }
    &--comment {
      margin-bottom: 30px;
    }
    &--writer {
      font-size: 18px;
      font-style: italic;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .owl-dots {
    .owl-dot {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
      margin: 10px;
      margin-top: 40px;
      opacity: .5;
      transition: opacity .3s ease-in-out;
      &.active {
        opacity: 1;
      }
    }
  }
}

/********************
* Block Browse
********************/
.block-browse {
  padding-top: 100px;
  @media screen and (max-width: $tablet) {
    padding-top: 60px;
  }
  @media screen and (max-width: $mobile-L) {
    padding-top: 20px;
  }
  &__item {
    min-width: 314px;
    flex: 1;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
    &::after {
      content: '';
      position: absolute;
      width: 88px;
      height: 1px;
      background-color: #f57365;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }
  &__card {
    position: relative;
    overflow: hidden;
    &--content {
      position:  absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9;
      text-align: center;
      color: #fff;
      span {
        font-style: italic;
        font-weight: 900;
        font-size: 14px;
        opacity: 0.9;
      }
      h4 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
      }
    }
    &:hover {
      img {
        transform: scale(1.15);
        overflow: hidden;
      }
      &::after {
        opacity: .4;
      }
    }
    &::after {
      content: '';
      position: absolute;
      width:  100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .15;
      background: #000;
    }
    img {
      width: 100%;
      transition: all .3s ease-in-out;
    }
  }
}

/********************
* Block Numbers
********************/

.block-numbers {
  padding: 60px 0;
  text-align: center;
  @media screen and (max-width: $tablet) {
    padding: 40px 0;
  }
  @media screen and (max-width: $mobile-L) {
    padding: 20px 0;
  }
  &__item {
    flex: 1;
    min-width: 314px;
    @media screen and (max-width: $tablet) {
      margin: 5px 0;
    }
    span {
      font-size: 36px;
      font-weight: 700;
    }
  }
}

/********************
* Footer
********************/

.footer {
  padding: 40px 80px;
  background-color: #f7f7f7;
  @media screen and (max-width: $tablet) {
    padding: 40px 0;
  }
  @media screen and (max-width: $mobile-L) {
    padding: 20px 0;
  }
  &__copyright {
    font-size: 14px;
    font-weight: 300;
    color: #8b8b8b;
  }
  &__by {
    text-align: right;
    a {
      text-decoration: underline;
    }
    i {
      color: #f00;
    }
  }

  &__copyright, &__by {
    @media screen and (max-width: $mobile-L) {
      text-align: center;
    }
  }
}






